.content-between{
    display: flex;
    justify-content: space-between;
  }

.seprator{
    border: 1px solid rgb(109, 93, 93);
    border-top: 0px;
}

.border-round {
    border-radius: 3%;
}

.m-4{
    margin: 4%;
}

.hover-color:hover{
    scale: 1.05;
    background-color:#86bf86;
}
