.checkout-icon{
    right: 0px;
}

.header-icon{
    font-size: 50px;
      position: absolute;
      top: 16px;
      cursor: pointer;
      transition: 0.12s linear;
      color: black;
  }
  
  .header-icon:hover{
    transform: scale(1.15);
  }
  
  .content-center{
    display: flex;
    justify-content: center;
  }
  
  .padding-16{
    padding: 16px;
  }